.header {
  min-height: 88px;
  background-color: var(--header-dark);
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    min-height: 56px;
  }

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: center;
    }
  }

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    @include reset-link;
    @include transition;
    color: var(--light);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    &:hover {
      opacity: .7;
    }
  }
}
